@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .visually-hidden {
        @apply border-0 p-0 m-0 !absolute h-[1px] w-[1px] overflow-hidden;
    }
}

* {
    @apply tracking-[-0.08em] overscroll-none no-scrollbar;
}

/* LENIS */
html.lenis,
html.lenis body {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopped {
    overflow: hidden;
}
.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* NAV */
nav {
    @apply fixed z-30 w-device h-device flex pointer-events-none;
    * {
        @apply border-white border-opacity-30;
    }
    div {
        @apply flex items-center justify-center w-20 bg-stone-950 pointer-events-auto;
    }
    #menu-links {
        @apply flex flex-col gap-3 text-2xl border-r;
    }
    #menu-btn {
        @apply border-l;
        button {
            @apply relative;
        }
    }
    ul {
        @apply flex-1 flex;
        li {
            @apply flex-1 overflow-hidden flex;
            a {
                @apply w-full h-full relative top-0 right-full duration-500 ease-out bg-stone-950 invisible;
                &.opened {
                    @apply translate-x-full visible;
                }
            }
            &:not(:last-child) {
                @apply border-r;
            }
        }
    }

    @media (orientation: portrait) {
        & {
            @apply grid grid-cols-[1fr,40dvw] grid-rows-[4rem,1fr];
            div {
                @apply w-full border-t-0;
            }
            #menu-links {
                @apply flex-row border-r;
            }
            #menu-btn {
                @apply border-l-0;
            }
            ul {
                @apply order-1 col-span-2 flex flex-col;
                li {
                    @apply border-t;
                    a {
                        @apply top-full right-0;
                        &.opened {
                            @apply translate-x-0 top-0 duration-500;
                        }
                    }
                    &:not(:last-child) {
                        @apply border-r-0;
                    }
                }
            }
        }
    }
}

#hero-section {
    @apply pb-20;
    h1 {
        @apply relative h-device flex flex-row font-semibold uppercase text-[9vw] px-20;
        .word-wrap {
            @apply flex-1 grid grid-cols-1 grid-rows-4 items-center;
            .letter {
                @apply w-1/2 max-w-36;
            }
        }
    }

    @media (orientation: portrait) {
        & {
            h1 {
                @apply flex-col text-[14vw] pt-16 px-0;
                .word-wrap {
                    @apply grid-cols-4 grid-rows-1;
                    .letter {
                        @apply h-1/2;
                    }
                }
            }
        }
    }
}
